.moveMenu {
    position: absolute;
    animation-name: moveMenu;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveMenu {
    0% {top: 150px;}
    100% {top: 525px;}
}