* {
    font-family: sans-serif;
    color: #333333;
}
a {
    text-decoration: none;
    color: orangered;
}
a:hover {
    color: black;
}
button {
    padding: 10px;
    color: white;
    background-color: #333333;
    font-size: medium;
    transition-duration: 0.2s;
    border: 3px solid black;
}
button:hover {
    color: orangered;
    box-shadow: none;
    background-color: white;
}
h1 {
    margin: 11px;
}

