.itemMenu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.menuItem {
    width: 125px;
    height: 125px;
    margin: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    box-shadow: 5px 5px #555555;
    border-radius: 10%;
}
.menuItem:hover {
    cursor: pointer;
    box-shadow: 5px 5px orangered;
}
.menuItem p {
    color: white;
    font-size: 20px;
}